#### PYTHON BASICS ANSWERS

Problem 1: Employee Data 
``` 
|  ID  |    Name    |  Age  |  Gender  |   City   | 
|------|------------|-------|----------|----------| 
|  1   |   Alice    |   25  |  Female  |  New York| 
|  2   |    Bob     |   30  |   Male   |  London  | 
|  3   |   Charlie  |   28  |   Male   |  Paris   | 
|  4   |    Dana    |   35  |  Female  |  Berlin  | 
``` 
  
a) How many unique cities are represented in the table? 
b) What is the average age of the individuals in the table? 
c) How many males and females are there in the table? 
d) Who is the oldest person in the table? 
e) Which city has the highest number of individuals?

In [2]:
import pandas as pd

In [3]:
dict = {'ID':[1,2,3,4],
        'Name' : ['Alice','Bob','Charlie','Dana'],
        'Age' : [25,30,28,35],
        'Gender' : ['Female','Male','Male','Female'],
        'City' : ['New York','London','Paris','Berlin']}

In [5]:
df = pd.DataFrame(dict)

In [7]:
# Question-1: How many unique cities are represented in the table?
unique_city = df['City'].unique()
print("(a) How many unique cities are represented in the table?")
print(len(unique_city))

(a) How many unique cities are represented in the table?
4

In [15]:
#Question-2: What is the average age of the people in the table?
average_age = df['Age'].mean()
print("(b) What is the average age of the people in the table?")
print(average_age)

(b) What is the average age of the people in the table?
29.5

In [14]:
#Question-3: How many males and females are there in the table?
gender = df['Gender'].value_counts()
print("(c) How many males and females are there in the table?")
print(gender)

(c) How many males and females are there in the table?
Gender
Female    2
Male      2
Name: count, dtype: int64

In [13]:
#Question-4: Who is the oldest person in the table?
oldest_person = df['Name'][df['Age'].idxmax()]
print("(d) Who is the oldest person in the table?")
print(oldest_person)

(d) Who is the oldest person in the table?
Dana

In [16]:
#Question-5: Which city has the highest number of individuals?
city_highest_individual = df['City'].value_counts().idxmax()
print("(e) Which city has the highest number of individuals?")
print(city_highest_individual)

(e) Which city has the highest number of individuals?
New York

Problem 2: Student Scores 
``` 
|  ID  |   Name   |  Math_Score  |  Science_Score  | 
|------|----------|--------------|-----------------| 
|  1   |  Alice   |      85      |       90        | 
|  2   |   Bob    |      75      |       85        | 
|  3   | Charlie  |      90      |       80        | 
|  4   |   Dana   |      80      |       95        | 
``` 
  
a) What is the average math score? 
b) What is the highest science score? 
c) Calculate the total score (sum of math and science scores) for each student. 
d) Who has the highest total score? 
e) What is the difference between the average math score and the average science score?

In [17]:
dict1 = {'ID':[1,2,3,4],
        'Name' : ['Alice','Bob','Charlie','Dana'],
        'Math_score' : [85,70,90,95],
        'Science_score' : [90,85,88,75]}

In [19]:
df1 = pd.DataFrame(dict1)

In [26]:
#Question-1: What is the average Math score?
average_math_score = df1['Math_score'].mean()
print("(a) What is the average Math score?")
print(average_math_score)

(a) What is the average Math score?
85.0

In [27]:
#Question-2: What is the highest Science score?
highest_science_score = df1['Science_score'].idxmax()
print("(b) What is the highest Science score?")
print(highest_science_score)

(b) What is the highest Science score?
90

In [28]:
#Question-3: Calculate the total score for each student
df1['Total_score'] = df1['Math_score'] + df1['Science_score']
print("(c) Calculate the total score for each student")
print(df1)

(c) Calculate the total score for each student
   ID     Name  Math_score  Science_score  Total_score
0   1    Alice          85             90          175
1   2      Bob          70             85          155
2   3  Charlie          90             88          178
3   4     Dana          95             75          170

In [29]:
#Question-4: Who has the highest total score?
highest_total_score = df1['Name'][df1['Total_score'].idxmax()]
print("(d) Who has the highest total score?")
print(highest_total_score)

(d) Who has the highest total score?
Charlie

In [30]:
#Question-5: What is the difference between average Math score and average Science score?
average_math_score = df1['Math_score'].mean()
average_science_score = df1['Science_score'].mean()
difference = average_math_score - average_science_score
print("(e) What is the difference between average Math score and average Science score?")
print(difference)

(e) What is the difference between average Math score and average Science score?
0.5

Problem 3: Product Sales 
``` 
|  ID  |  Product  |  Quantity  |  Price_per_Unit  | 
|------|-----------|------------|------------------| 
|  1   |   Apple   |     100    |       2.5        | 
|  2   |  Banana   |     150    |       1.8        | 
|  3   |  Orange   |     120    |       3.0        | 
|  4   |  Mango    |      80    |       2.7        | 
``` 
a) What is the total revenue generated from each product (quantity * price_per_unit)? 
b) Which product has the highest total revenue? 
c) Calculate the average price per unit across all products. 
d) What is the total quantity of all products sold? 
e) How many different types of products are there?

In [31]:
dict2 = {'ID':[1,2,3,4],
         'Product': ['Apple', 'Banana', 'Orange', 'Mango'],
         'Quantity': [100, 150, 120, 80],
         'Price_per_Unit': [2.5,1.8,3.0,2.7]}

In [32]:
df2 = pd.DataFrame(dict2)

In [37]:
#Question-1: What is the total revenue generated from each product (quantity * price per unit)?
df2['Total_revenue'] = df2['Quantity'] * df2['Price_per_Unit']
print("(a) What is the total revenue generated from each product (quantity * price per unit)?")
print(df2)

(a) What is the total revenue generated from each product (quantity * price per unit)?
   ID Product  Quantity  Price_per_Unit  Total_revenue
0   1   Apple       100             2.5          250.0
1   2  Banana       150             1.8          270.0
2   3  Orange       120             3.0          360.0
3   4   Mango        80             2.7          216.0

In [38]:
#Question-2: Which product has the highest total revenue?
highest_total_revenue = df2['Product'][df2['Total_revenue'].idxmax()]
print("(b) Which product has the highest total revenue?")
print(highest_total_revenue)

(b) Which product has the highest total revenue?
Orange

In [39]:
#Question-3: What is the average price per unit across all the products?
average_price_per_unit = df2['Price_per_Unit'].mean()
print("(c) What is the average price per unit across all the products?")
print(average_price_per_unit)

(c) What is the average price per unit across all the products?
2.5

In [40]:
#Question-4: What is the total quantity of all products sold?
total_quantity = df2['Quantity'].sum()
print("(d) What is the total quantity of all products sold?")
print(total_quantity)

(d) What is the total quantity of all products sold?
450

In [43]:
#Question-5: How many different types of products are there?
different_types_of_products = df2['Product'].nunique()
print("(e) How many different types of products are there?")
print(different_types_of_products)

(e) How many different types of products are there?
4

Problem 4: Customer Feedback 
``` 
|  ID  |  Customer  |  Satisfaction_Score  |  Feedback  | 
|------|------------|----------------------|------------| 
|  1   |   Alice    |          4           |   Good     | 
|  2   |    Bob     |          3           |   Average  | 
|  3   |   Charlie  |          5           |   Excellent| 
|  4   |    Dana    |          2           |   Poor     | 
``` 
a) What is the average satisfaction score? 
b) How many customers provided feedback classified as "Good"? 
c) Calculate the percentage of customers who provided feedback classified as "Excellent". 
d) Which customer provided the lowest satisfaction score? 
e) What is the most common type of feedback received?

In [44]:
dict3 = {'ID':[1,2,3,4],
         'Customer': ['Alice', 'Bob', 'Charlie', 'Dana'],
         'Satisfaction_Score': [4,3,5,2],
         'Feedback': ['Good', 'Average', 'Excellent', 'Poor']}

In [45]:
df3 = pd.DataFrame(dict3)

In [50]:
#Question-1: What is the average satisfaction score?
average_satisfaction_score = df3['Satisfaction_Score'].mean()
print("(a) What is the average satisfaction score?")
print(average_satisfaction_score)

(a) What is the average satisfaction score?
3.5

In [51]:
#Question-2: How many customers provided feedback classified as "Good"?
good_feedback = df3['Feedback'].value_counts()['Good']
print("(b) How many customers provided feedback classified as 'Good'?")
print(good_feedback)

(b) How many customers provided feedback classified as 'Good'?
1

In [52]:
#Question-3: Calculate the percentage of customers who provided feedback classified as "Excellent".
total_customers = len(df3)
excellent_feedback = df3['Feedback'].value_counts()['Excellent']
percentage = (excellent_feedback / total_customers) * 100
print("(c) Calculate the percentage of customers who provided feedback classified as 'Excellent'.")
print(percentage)

(c) Calculate the percentage of customers who provided feedback classified as 'Excellent'.
25.0

In [53]:
#Question-4: Which customer has given the lowest satisfaction score?
lowest_satisfaction_score = df3['Customer'][df3['Satisfaction_Score'].idxmin()]
print("(d) Which customer has given the lowest satisfaction score?")
print(lowest_satisfaction_score)

(d) Which customer has given the lowest satisfaction score?
Dana

In [54]:
#Question-5: What is the most common type of feedback received?
most_common_feedback = df3['Feedback'].value_counts().idxmax()
print("(e) What is the most common type of feedback received?")
print(most_common_feedback)

(e) What is the most common type of feedback received?
Good

Problem 5: Employee Salaries 
``` 
|  ID  |    Name    |  Salary  |  Department  | 
|------|------------|----------|--------------| 
|  1   |   Alice    |   50000  |  Marketing   | 
|  2   |    Bob     |   60000  |  Finance     | 
|  3   |   Charlie  |   55000  |  HR          | 
|  4   |    Dana    |   65000  |  Operations  | 
``` 
a) What is the average salary across all departments? 
b) Which department has the highest average salary? 
c) Calculate the total salary expense for each department. 
d) Who is the highest-paid employee? 
e) What is the difference between the salary of the highest-paid employee and the average 
salary?

In [55]:
dict4 = {'ID':[1,2,3,4],
         'Name': ['Alice', 'Bob', 'Charlie', 'Dana'],
         'Salary': [50000, 60000, 55000, 65000],
         'Department': ['Marketing', 'Finance', 'HR', 'Operations']}

In [56]:
df4 = pd.DataFrame(dict4)

In [61]:
#Question-1: What is the average salary across all departments?
average_salary = df4['Salary'].mean()
print("(a) What is the average salary across all departments?")
print(average_salary)

(a) What is the average salary across all departments?
57500.0

In [62]:
#Question-2: Which depatrment has the highest average salary?
highest_average_salary = df4.groupby('Department')['Salary'].mean().idxmax()
print("(b) Which depatrment has the highest average salary?")
print(highest_average_salary)

(b) Which depatrment has the highest average salary?
Operations

In [63]:
#Question-3: Calculate the total salary expense for each department?
total_salary_expense = df4.groupby('Department')['Salary'].sum()
print("(c) Calculate the total salary expense for each department?")
print(total_salary_expense)

(c) Calculate the total salary expense for each department?
Department
Finance       60000
HR            55000
Marketing     50000
Operations    65000
Name: Salary, dtype: int64

In [64]:
#Question-4: Who is the highest paid employee?
highest_paid_employee = df4['Name'][df4['Salary'].idxmax()]
print("(d) Who is the highest paid employee?")
print(highest_paid_employee)

(d) Who is the highest paid employee?
Dana

In [65]:
#Question-5: What is the difference between the salary of the highest paid employee and the average salary?
average_salary = df4['Salary'].mean()
highest_paid_employee_salary = df4['Salary'].max()
difference = highest_paid_employee_salary - average_salary
print("(e) What is the difference between the salary of the highest paid employee and the average salary?")
print(difference)

(e) What is the difference between the salary of the highest paid employee and the average salary?
7500.0