In [7]:
import pandas as pd

In [2]:
series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

In [3]:
print(series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### PANDAS DATAFRAME
Pandas dataframe can be added using the following syntax:
    pandas.DataFrame(data, index, column, dtype, copy)

In [6]:
data = [['Rakesh', 10], ['Ballu', 42], ['Chetan', 23]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

     Name  Age
0  Rakesh   10
1   Ballu   12
2  Chetan   23

In [12]:
data = {'Name': ['Ramesh', 'Amar', 'Chaumuhan'], 'Age': [70, 50, 99]}
df = pd.DataFrame(data)
print(df)

        Name  Age
0     Ramesh   70
1       Amar   50
2  Chaumuhan   99

In [13]:
data = {'Name': ['Ramesh', 'Amar', 'Chaumuhan'], 'Age': [70, 50, 99]}
df = pd.DataFrame(data, index=['rank1', 'rank2', 'rank3'])
print(df)

            Name  Age
rank1     Ramesh   70
rank2       Amar   50
rank3  Chaumuhan   99